
.footer-container{
    position: relative;
   
}

.footer-container>hr {
    border: 1px solid var(--lightgray);
}

.footer, .social-links {
    display: flex;
    gap: 4rem;
}
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 4rem;
}
 .social-links{
    display: flex;
    gap: 4rem;
 }
.social-links>img {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.logo-f>img{
     width: 10rem;
}

.blur-f-1{
    bottom: 0;
    right: 15%;
    filter: blur(200px);
    height: 12rem;
    width: 26rem;
    background-color: red;
}

.blur-f-2{
    bottom: 0;
    left: 15%;
    filter: blur(200px);
    height: 12rem;
    width: 26rem;
    background-color:#ff7300; 
}


